@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

:root {
  --main-color-white: rgb(255, 255, 255);
  --main-color-purple: rgb(108, 0, 196);
  --main-color-black: rgb(0, 0, 0);
}
* {
  font-family: lacquer, Arial, sans-serif;
  background-color: var(--main-color-black);
  color: var(--main-color-white);
  text-align: center;
}
button {
  border: 3px solid var(--main-color-white);
}
button:active {
  color: var(--main-color-black);
  background-color: var(--main-color-white);
}
body {
  animation-name: zoom;
  animation-duration: 1s;
  transition: 2s;
}
@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  font-size: 3rem;
}
img {
  border: 2px solid var(--main-color-white);
  border-radius: 10px;
  padding: 8px;
  width: 150px;
  cursor: pointer;
  margin: 10px;
}
img:hover {
  transform: scale(1.05);
  box-shadow: var(--main-color-white) 0px 0px 8px 5px;
  transition: 0.2s;
}
img:active {
  box-shadow: var(--main-color-purple) 0px 0px 8px 5px;
}
.score {
  display: grid;
  grid-auto-flow: column;
  border: 2px solid var(--main-color-white);
  border-radius: 10px;
  height: 200px;
}
.me,
.computer {
  border: 5px double var(--main-color-white);
  border-radius: 10px;
  margin: 30px;
  height: 140px;
}
.score-number {
  line-height: 100px;
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .weapons > img {
    width: 18%;
    margin-bottom: 15%;
  }

  .score-number {
    line-height: 70px;
    font-size: 40px;
  }
}
